{% extends "layout.html" %}

{% block title %}Cotizar{% endblock %}

{% block main %}
<form action="/register" method="post">
        <div class = "form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Símbolo" type="text"/>
        </div>
        <div class = "form-group">
            <input autocomplete="off" autofocus class="form-control" name="password" placeholder="Comprar" type="text"/>
        </div>

                <button class="btn btn-primary" type="submit">Comprar</button>
</form>
{% endblock %}