<!DOCTYPE <html>
<html>
  <head>
    <title>Gallery</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<link rel="stylesheet" href="static/styles.css">
  </head>

    <body>


<title>Rooster App</title>
<link href="static/gallo.ico" rel="icon">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<link rel="stylesheet" href="static/styles.css">
  </head>
    <body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Rooster App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">

        <a class="nav-link" href="/ia-carla?">IA-Carla<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/upload?">Subir Archivos a la <strong>nube</strong></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Más
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/#experiencia">Experiencia</a>
          <a class="dropdown-item" href="/#elegancia">Elegancia</a>
          <div class="dropdown-divider"></div>
          <!--

          -->
          <a class="dropdown-item" href="/gallery?">Archivos<strong> subidos</strong></a>


        </div>

      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">{{session.username}}</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" id="buscador">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
    <!--


-->
<!-- Default dropleft button -->
<div class="btn-group">
  <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-right:70px;">
  Mi perfil
  </button>
  <div class="dropdown-menu">

    <div  class="form-inline my-2 my-lg-0" style="margin-left:20px;"><a href="/account?" class="btn btn-outline-success my-2 my-sm-0">Mi cuenta</a></div>

    <form action="/logout" class="form-inline my-2 my-lg-0" style="text-align:center; margin-left:15px;">
   <button  class="btn btn-outline-success my-2 my-sm-0"  type="submit" >Cerrar Sesión</button>
    </form>

  </div>
</div>





   <form action="/register" class="form-inline my-2 my-lg-0">
      <button  class="btn btn-outline-success my-2 my-sm-0"  type="submit" >Registrarse</button>
    </form>

  <form action="/login" class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Iniciar Sesión</button>

  </form>


  </div>
</nav>

<!--
<h4 style='color:#F72908; top: 50%;left: 40%; margin-top: -100px; margin-left: -100px; position:fixed;'>Porfavor antes de comenzar <a href="/register?">haga su cuenta</a> o <a href="/login?">inicie sesión</a></h4>
--><!--
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Galería</h1>
    <p class="lead">Aquí encontrará las fotos subidas por usuarios de <strong>Rooster App</strong>, verifique si se ha <a href="/register?">registrado</a> para publicar fotos.</p>
  </div>
</div>

{% for image in images %}
<!--
<div style="background-color: green;">
      <a target="_blank" href="{{ url_for('static', filename='images/' + image) }}">
      <img class="images-submit"src="{{ url_for('static', filename='images/' + image) }}" alt="">
      </a>
</div>
-->
<div class="gallery1">
  <a target="_blank" href="{{ url_for('static', filename='images/' + image) }}">
    <img  class="image-submit"src="{{ url_for('static', filename='images/' + image) }}" alt="Cinque Terre">
  </a>
  <div class="desc1">Imagen subida por {{session.username}}</div>
</div>

{% endfor %}






<script src="static/java.js"></script>

             <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>



</body>
</html>